aioquic==1.2.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.0
attrs==26.1.0
bcrypt==5.0.0
blinker==1.9.0
brotli==1.2.0
certifi==2026.4.22
cffi==2.0.0
click==8.3.3
colorama==0.4.6
cryptography==46.0.7
Flask==3.1.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
frida==17.11.0
frida-tools==14.9.0
greenlet==3.5.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
kaitaistruct==0.11
ldap3==2.9.1
MarkupSafe==3.0.3
mitmproxy==12.2.2
mitmproxy-windows==0.12.9
mitmproxy_rs==0.12.9
msgpack==1.1.2
prompt_toolkit==3.0.52
publicsuffix2==2.20191221
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydivert==2.1.0
Pygments==2.20.0
pylsqpack==0.3.24
pyOpenSSL==25.3.0
pyparsing==3.3.2
pyperclip==1.11.0
python-dotenv==1.2.2
pytz==2026.2
ruamel.yaml==0.19.1
service-identity==24.2.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.50
tornado==6.5.5
typing_extensions==4.15.0
urwid==3.0.5
wcwidth==0.7.0
websockets==13.1
Werkzeug==3.1.8
wsproto==1.3.2
zstandard==0.25.0
gunicorn
psycopg2-binary
cloudinary
sqlalchemy
